[mysqld]
user                            = mysql
port                            = 3306
basedir                         = /var/lib/mysql
datadir                         = /var/lib/mysql/data
#tmpdir                          = /var/lib/mysql/tmp
socket                          = /var/lib/mysql/mysql.sock
log_error                       = /var/log/mysql/mysql-error.log
bind-address                    = 0.0.0.0
default-storage-engine          = InnoDB
character-set-server            = utf8
collation-server                = utf8_general_ci
init-connect                    = "SET NAMES utf8"
default_authentication_plugin   = mysql_native_password
general_log_file                = /var/log/mysql/mysql-general.log
general_log                     = 1

# BINARY LOGGING #
#binlog_expire_logs_seconds      = 3600
sync-binlog                     = 1

# CACHES AND LIMITS #
tmp-table-size                  = 32M
max-heap-table-size             = 32M
join_buffer_size                = 128K
max-connections                 = 1000
thread-cache-size               = 5000
open-files-limit                = 150000
table-definition-cache          = 1024
table-open-cache                = 50000

# MyISAM #
key-buffer-size                 = 32M
myisam-recover-options          = FORCE,BACKUP

# INNODB #
innodb-flush-method             = O_DIRECT
innodb-log-files-in-group       = 2
innodb-log-file-size            = 256M
innodb-flush-log-at-trx-commit  = 0
innodb-file-per-table           = 1
innodb-buffer-pool-size         = 2G

# Slow REQUESTS #
slow-query-log                  = 1
slow-query-log-file             = /var/log/mysql/slow-requests.log

# SAFETY #
skip-name-resolve
max-allowed-packet              = 16M
max-connect-errors              = 1000000

[mysqld_safe]
log-error                       = /var/log/mysql/mysql-safe-error.log
pid-file                        = /var/run/mysql/mysql.pid

[mysqldump]
quick
max_allowed_packet              = 64M